.App {
  font-family: sans-serif;
  text-align: center;
  width: 40%;
  margin: auto;
}
.parent {
  margin-top: 20px;
  border: 2px solid red;
}
img {
  height: 40px;
  border-radius: 50%;
}

.flex {
  display: flex;
  width: 65%;
  margin: auto;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
}

.yellow {
  background-color: rgb(241, 159, 6);
}

button {
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 18px;
  text-align: left;
}

.arrow {
  font-size: 40px;
  font-size: bold;
}

.white {
  background-color: gray;
}
