*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    text-align: center;
    width: 40%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 40px;
    padding: 30px;
}
